<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guide:</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <section class="hero-section">
        <div class="hero-content">
            <h1 class="hero-title">
                About App
            </h1>
            <p class="hero-subtitle">
                1.Your Location is pinned by marker on map at a particular time.
            </p>
            <p class="hero-subtitle">
                2.At that time whatever device is using this app will also shown by a marker.
            </p>
            <p class="hero-subtitle">
                3.Use this on your own with opening the aplication on more than one device.
            </p>
            <div class="hero-cta">
                <a href="/"><button class="cta-button">Back</button></a>
            </div>
        </div>
    </section>
</body>
</html>